<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="../vuejs/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="../js/axios/dist/axios.js"></script>
  <style>

  </style>
</head>

<body>
  <div id="app">
    <el-collapse v-model="activeName" accordion>
      <el-collapse-item v-for="(item, index) in items" :key="index" :title="item.title" :name="index+1">
        <div>{{item.content}}</div>
      </el-collapse-item>
    </el-collapse>
    <br />
    <el-collapse v-model="activeName2" accordion>
      <el-collapse-item title="可控 Controllability" name="0">
        <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>
        <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>
      </el-collapse-item>
      <el-collapse-item title="一致性 Consistency" name="1">
        <div>与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；</div>
        <div>在界面中一致：所有的元素和结构需保持一致，比如：设计样式、图标和文本、元素的位置等。</div>
      </el-collapse-item>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        activeName: '1',
        activeName2: '1',
        items: ''
      },
      mounted() {
        this.$nextTick(function () {
          var that = this
          axios.get('json/collapse.json').then(function (data) {
            that.items = data.data;
          });
        })
      },
      methods: {

      },
    })
  </script>
</body>