<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- import Vue before Element -->
  <script src="../vuejs/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
  <div id="app">
    <!-- <table>
      <thead>
        <tr>姓名</tr>
      </thead>
      <tbody>
        <tr v-for="list in lists">
          <td>{{list}}</td>
        </tr>
      </tbody>
    </table> -->
    <!-- <el-container>
      <el-table :data="tableData" style="width: 100%">
        <el-table-column prop="date" label="日期" width="180">
        </el-table-column>
        <el-table-column prop="name" label="姓名" width="180">
        </el-table-column>
        <el-table-column prop="address" label="地址">
        </el-table-column>
      </el-table>
    </el-container> -->
    <!-- <el-button plain @click="open3">
      成功
    </el-button>
    <el-button plain @click="open6">
      错误
    </el-button>
    <div class="block">
      <span class="demonstration">日期选择</span>
      <el-date-picker v-model="value4" type="datetimerange" :picker-options="pickerOptions2" range-separator="至"
        start-placeholder="开始日期" end-placeholder="结束日期" align="right">
      </el-date-picker>
    </div> -->
  </div>
  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        lists: [1, 2, 3, 4],
        tableData: [{
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }],
        value4: [new Date(2000, 10, 10, 10, 10), new Date(2000, 10, 11, 10, 10)],
        value5: ''
      },
      mounted() {

      },
      methods: {
        open3() {
          this.$notify({
            title: '成功',
            message: '这是一条成功的提示消息' + this.value4,
            type: 'success'
          });
        },
        open6() {
          this.$notify.error({
            title: '错误',
            message: '这是一条错误的提示消息'
          });
        }
      }

    })
  </script>

</body>