<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <script src="../../vuejs/dist/vue.js"></script>
  <script src="../../js/axios/dist/axios.js"></script>
  <style>
    .nwwest-roll {
      height: 60px;
      overflow: hidden;
    }

    .roll-ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .nwwest-roll li {
      height: 60px;
      line-height: 60px;
      overflow: hidden
    }

    .roll-li {
      float: left;
    }

    .anim0 {
      transition: all 1s ease-out;
    }

    .anim {
      transition: all 1s ease-out;
    }
  </style>
</head>

<body>
  <div id="demo">

    <div class="nwwest-roll" id="nwwest-roll">
      <ul class="roll-ul">
        <li class="roll-li" v-for="num in allNum">
          <ul class="roll-ul">
            <li v-for="item in list" ref="rollul" :class="{anim:animate==true}">
              <span>{{item}}</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div>11</div>
  </div>

  <script>
    new Vue({
      el: '#demo',
      data: {
        animate: true,
        list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        allNum: [1, 2, 3, 4],
        num: 0,
      },
      mounted() {
        var that = this;
        //数字变化后调用滚动事件
        for (var i = that.allNum.length - 1; i >= 0; i--) {
          that.scroll(that.allNum[i], i * 10, 2000);
        }
      },
      methods: {
        scroll(num, i, times) {
          var con1 = this.$refs.rollul;
          console.log(con1)
          con1[i].style.marginTop = '0px';
          this.animate = false;
          var that = this;
          var j = 0;
          var time = (times / num)
          console.log(time)
          var set = setInterval(function () {
            if (j >= num) {
              clearInterval(set);
              that.animate = false;
            } else {
              j++;
              con1[i].style.marginTop = j * (-60) + 'px';
              that.animate = true;
            }
          }, time)
        }
      }

    })
  </script>
</body>