<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <script src="../vuejs/dist/vue.js"></script>
  <script src="../js/echarts.min.js"></script>
  <script src="../js/axios/dist/axios.js"></script>
  <script src="js/common.js"></script>
  <link rel="stylesheet" href="css/common.css" />
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
  <div id="app">
    <div class="zf-header">
      服务器监控
    </div>

    <div class="zf-fluid">
      <div class="zf-card">
        <div class="zf-row">
          <!-- <form action="" onsubmit="return formSubmit()" > -->
          <!-- 先禁用刷新行为，再调用 searchForm方法 -->
          <form action="" onsubmit="return false" v-on:submit="searchForm">
            <!-- <form action="" onsubmit="return false"> -->
            <div class="form-inline-item">
              <label for="" class="form-label">服务器状态</label>
              <div class="form-element">
                <select name="server-state" id="" class="form-input-element">
                  <option value="">全部</option>
                </select>
              </div>
            </div>
            <div class="form-inline-item">
              <label for="" class="form-label">所属服务器</label>
              <div class="form-element">
                <select name="server" id="" class="form-input-element">
                  <option value="">全部</option>
                </select>
              </div>
            </div>
            <div class="form-inline-item">
              <div class="form-element">
                <input name="" id="" class="form-input-element input-lg input-search" placeholder="请输入如硬盘名称" v-model="form.text">
                </input>
                <i v-on:click="searchForm">查询</i>
              </div>
            </div>
            <!-- </form> -->
        </div>
        <div class="zf-table">
          <div class="zf-row">
            <div class="table-head">
              <table>
                <thead>
                  <tr>
                    <td width="100">名称</td>
                    <td width="150">IP地址</td>
                    <td width="100">状态</td>
                    <td width="100">服务状态</td>
                    <td width="150">CPU利用率</td>
                    <td width="150">内存利用率</td>
                    <td width="150">硬盘利用率</td>
                    <td width="150">系统盘IO利用率</td>
                    <td width="100">硬盘数</td>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="table-body">
              <table>
                <thead>
                  <tr>
                    <th width="100"></th>
                    <th width="150"></th>
                    <th width="100"></th>
                    <th width="100"></th>
                    <th width="150"></th>
                    <th width="150"></th>
                    <th width="150"></th>
                    <th width="150"></th>
                    <th width="100"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(data,index) of datas" :key="index" :data="datas.slice((pagination.currentPage - 1) * pagination.pageSize, pagination.currentPage * pagination.pageSize)">
                    <td><a>osa.533</a></td>
                    <td>1.1.1.1</td>
                    <!-- {} 代表对象 -->
                    <!-- <td><i class="state" v-bind:style="{backgroundColor:statecolor}">{{statename}}</i></td> -->
                    <!-- <td><i class="state" v-bind:class="data.state=='active'?'healthy':'error'">{{data.state=='active'?'正常':'错误'}}</i></td> -->
                    <td><i class="state" v-bind:class="isState(data)">{{data.state=='active'?'正常':'错误'}}</i></td>
                    <td><i class="server-state" :title="data.serverAlarm" v-bind:class="isServerState(data)"></i></td>
                    <td><i class="cpu-use"><b v-bind:style="{width:data.cpuUsed}"></b></i><span>{{data.cpuUsed}}</span></td>
                    <td><i class="
                        mem-use"><b v-bind:style="{width:data.memUsed}"></b></i><span>{{data.memUsed}}</span></td>
                    <td><i class="disk-use"><b v-bind:style="{width:data.diskUsed}"></b></i><span>{{data.diskUsed}}</span></td>
                    <td>{{data.ioUsed}}</td>
                    <!-- <td>{{data.diskNum}}</td> -->
                    <td>
                      <div v-for="(item, index) in data.diskNum" :key="item.index"><span>{{item.name}}</span></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- <div class="table-page">
            <div class="zf-pages">
              <a href="">11</a>/页
            </div>
          </div> -->
          <div class="block" style="float:right">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pagination.currentPage"
              :page-sizes="[5, 10, 15, 20]" :page-size="pagination.pageSize" layout="total, sizes, prev, pager, next, jumper"
              :total="pagination.pageTotal">
            </el-pagination>
          </div>
        </div>
      </div>


    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        form: {
          text: ''
        },
        pagination: {
          pageTotal: 20,
          pageSize: 10,
          currentPage: 1,
        },
        datas: []
        // pagination: ''
      },
      computed: {
        // 计算属性传值利用了闭包传值
        isState() {
          return function (data) {
            return data.state == 'active' ? 'healthy' : 'error'
          }
        },
        isServerState() {
          return function (data) {
            return {
              normal: data.serverNormal && !data.serverError && !data.serverAlarm,
              error: data.serverError && !data.serverAlarm,
              alarm: !data.serverError && data.serverAlarm,
              errorAlarm: data.serverError && data.serverAlarm,
            }
          }
        }
      },
      mounted() {
        this.$nextTick(function () {
          var that = this
          this.initTable(that)
        })
      },
      // created() {
      //   var that = this;
      //   document.onkeydown = function (e) {
      //     var key = window.event.keyCode;
      //     if (key == 13) {
      //       that.searchForm();
      //     }
      //   }
      // },
      methods: {

        initTable: function (that, data) {
          // axios.get("https://easy-mock.com/mock/5c136ed6d8ccbb0677a83784/example/monitor", {
          axios.get("./json/link2.json").then(function (data) {
            that.datas = data.data.datas;
            that.pagination = data.data.pagination;
          })
        },
        searchForm: function () {
          // this.alarm();
          alarm();
          console.log("=============search")
          console.log(this.form.text)

        },
        handleSizeChange: function (val) {
          this.pagination.pageSize = val
          console.log(`每页 ${val} 条`);
          var data = {
            formData: '',
            pageSize: val,
            currentPage: 1
          }
          this.initTable(this, data)
        },
        handleCurrentChange: function (val) {
          this.pagination.currentPage = val
          console.log(`当前页: ${val}`);
          var data = {
            formData: '',
            pageSize: this.pagination.pageSize,
            currentPage: val
          }
          this.initTable(this, data)
        }
      },


    })

    // function formSubmit() {
    //   return false;
    // };
  </script>
</body>